<h1>My todo List</h1>

<div><button (click)="openModal(false)" [disabled]="showForm()">Create a todo item</button></div>
@if (showForm()) {
  <app-todo-creation-form
    [isEdit]="isEdit()"
    [oldTodo]="selectedTodo()"
    (closeEvent)="closeModal($event)"
  ></app-todo-creation-form>
}

@if (todoList().length > 0) {
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Due Date</th>
        <th>Completed?</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      @for (todoItem of todoList(); track todoItem.id) {
        <tr cdkDrag [cdkDragData]="todoItem">
          <td class="drag-handle" cdkDragHandle>⠿</td>
          <td>{{ todoItem.itemName }}</td>
          <td>{{ todoItem.targetDueDate | date }}</td>
          <td>
            @if (!todoItem.completed) {
              <button (click)="markAsCompleted(todoItem.id!)" [disabled]="todoItem.completed">
                Mark as Completed
              </button>
            } @else {
              <span>Completed</span>
            }
          </td>

          <td><button (click)="openModal(true, todoItem)">Edit</button></td>
          <td><button (click)="deleteTodoItem(todoItem.id!)">Delete</button></td>
        </tr>
        <p></p>
      }
    </tbody>
  </table>
}
